<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/list" method="post">
            <!-- <input type="text" name="xid" placeholder="id"><br><br> -->
            <input type="text" name="xname" placeholder="Enter user name" id="xname"><br><br>
            <input type="password" name="xpsw" placeholder="Enter user passowrd" id="psw"><br><br>
            <input type="text" name="xcity" placeholder="Enter user city" id="xcity"><br><br>
            <input type="submit" id="btn">
    </form>

    </body>
</html>
