{% extends 'layout.html' %}

{% block content %}
<title>Login</title>
<style>
    body{
        background-image: url(/static/Image/bg.webp);
        animation: pankaj 2s linear infinite;
    }
    @keyframes pankaj {
            100%{
                filter: hue-rotate(360deg);
            }
            
        }
    .box{
        height: 300px;
        width: 30%;
        margin: 8% auto;
        border-radius: 20px;
        background-color: red;
    }
</style>
<h1 align="center" style="color: white;">{{my}}</h1>
<div class="box"><br>
    <h1 align="center">Login</h1><br><br>
    <form action="/userlogin" method="post">
        
        <input type="tel" value="  +91 " name="xtel" id="" placeholder="Enter user mobile No" style="height: 30px; width: 80%; margin: 10px 0px 0px 30px;"><br><br>
        <input type="password" name="xpsw" id="xpsw" placeholder="Enter user password" style="height: 30px; width: 80%; margin: 10px 0px 0px 30px;">
        <br><span style="height: 30px; width: 80%; margin: 10px 0px 0px 30px; font-size: 20px; color: white;">Show Password</span>&nbsp;<input type="checkbox" name="" id="check" >
        <input type="submit" name="" id="" value="Submit" style="height: 30px; width: 80%; margin: 10px 0px 0px 30px; border-radius: 20px;"><br>
        <a href="/register" style="font-size: 20px; color: white; padding: 10px; margin: 10px 0px 0px 20px;">Register</a>
        <a href="/forget" style="font-size: 20px; color: white; padding: 10px; margin: 10px 0px 0px 5px;">Forget password</a>
    </form>
</div>
<script>
    check.onclick=()=>{
        if(check.checked==true)
        {
            xpsw.type="text";
        }
        else{
            xpsw.type="password";

        }
    }
</script>

{% endblock %}