<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .box{
        height: 200px;
        width: 30%;
        background-color: lightgray;
        margin: 10% auto;
    }
</style>
<body>
        <div class="box">
            <form action="/varify" method="post">
                <h1 align="center">Enter your email</h1>
                <input type="email" name="email" style="height: 30px; width: 80%; margin-left: 35px;" placeholder="Enter your email">
                <input type="submit" style="width: 82%; margin:15px 0px 0px 35px ; padding: 10px;">
            </form>
        </div>
</body>
</html>